body {
    font-family: 'Arial', sans-serif;
    background-color: rgb(235, 206, 211);
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    text-align: center;
    color: #333;
    font-size: 50px;
  
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: blue;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: black;
}

ul {
              display:flex; 
                list-style: none;
                justify-content: center; 
                gap: 50px; 
                font-size:xx-large; 
                background-color: pink; 
                text-decoration: none;
                cursor: pointer; 
 font-weight: bold;
 padding: top right bottom left
}
a {
    color:black;
    text-decoration: none;
}
a:visited {
    color: black ;
    text-decoration: none;
}
a:hover {
    transform: scale(1.2)
}
